header {
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 0.25rem 0.5rem;
}
#collection-sidebar {
  background: transparent;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
#collection-sidebar:focus {
  outline: solid transparent;
}
#collection-sidebar-document {
  background-color: #fff;
  max-width: 95vw;
  max-height: 100vh;
  min-width: 300px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.15);
}
.full #collection-sidebar-document {
  width: 100%;
  max-width: 100vw;
}
@keyframes containerPop {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

[aria-hidden='true'] #collection-sidebar-document {
  opacity: 0;
  transform: translateX(-100%);
}
#collection-sidebar-document.is-closing {
  animation: containerPop 0.25s ease-in-out;
}
#collection-sidebar-document.is-opening {
  animation: containerPop 0.25s ease-in-out reverse;
}

#collection-sidebar-document .content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#collection-sidebar-document .content > * {
  margin: auto;
}

#collection-sidebar-document .title {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 0.85rem 2rem;
  text-align: center;
  margin: 0;
}

#collection-sidebar-document .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#collection-sidebar-document .text {
  margin: 2rem;
}
#collection-sidebar-document .list {
  list-style: none;
  padding: 0;
  margin: auto 0;
}
#collection-sidebar-document .list li {
  padding: 0;
  margin: 0;
}
#collection-sidebar-document .item {
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  line-height: 1;
  color: var(--medium);
  border-radius: 0;
}
@keyframes outlinePop {
  0% {
    box-shadow: 0 0 0 1px rgba(33, 33, 33, 0);
  }
  50% {
    box-shadow: 0 0 0 8px #f5ffff;
  }
  100% {
    box-shadow: 0 0 0 3px #f5ffff;
  }
}

#collection-sidebar-document .item.selected {
  font-weight: 600;
  color: var(--dark);
  background-color: var(--rc-lighter);
}
#collection-sidebar-document .item:focus {
  animation: outlinePop 0.25s ease-in-out;
  outline: solid transparent;
  color: var(--dark);
  background-color: #f5ffff;
}
#collection-sidebar-document .item:hover {
  color: white;
  background-color: var(--rc-darker);
}
#collection-sidebar-document .sign-out {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
