[data-is='icon-button'] {
  line-height: 1;
  display: inline-block;
  height: 24px;
}
[data-is='icon-button']:focus {
  outline: solid transparent;
}
.icon-button {
  font-size: 1.25rem;
  line-height: 1rem;
  transform: translateY(-2px);
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: none;
  background-color: transparent;
  color: var(--rc-dark);

  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border-radius: 9999px;
}

@keyframes iconButtonPop {
  0% {
    transform: scale(0.5);
    stroke-width: 1px;
  }
  50% {
    transform: scale(1.5);
    stroke-width: 4px;
  }
  100% {
    transform: scale(1);
    stroke-width: 3px;
  }
}
.icon-button:focus {
  background-color: #f5f5f5;
  outline: solid transparent;
  box-shadow: 0 0 1px 1px var(--rc-light), inset 0 0 1px 1px var(--rc-light);
}
.icon-button:focus svg {
  animation: iconButtonPop 0.25s ease-in-out;
  stroke-width: 3px;
}
.icon-button:active {
  animation: iconButtonPop 0.25s ease-in-out;
  color: var(--active);
}
[data-is='icon-button'] [selected] svg {
  fill: var(--rc-light);
}
