ink-info {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-template-columns: 1fr 1fr;
}
ink-info .Cover {
  padding: 1rem;
}
ink-info .Cover-icon {
  max-width: 40vw;
}
ink-info ink-button {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
