[data-is='ink-uploader'] file-drop {
  display: block;
  flex: 1 1 100%;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  border: 2px dotted var(--rc-dark);
  background-color: var(--rc-lighter);
  margin: 0.25rem 0;
  padding: 1rem;
}
@keyframes uploaderPop {
  0% {
    box-shadow: 0 0 0 1px rgba(33, 33, 33, 0);
  }
  50% {
    box-shadow: 0 0 0 8px #2ed0ac;
  }
  100% {
    box-shadow: 0 0 0 3px #2ed0ac;
  }
}
@keyframes uploaderPopInvalid {
  0% {
    box-shadow: 0 0 0 1px rgba(33, 33, 33, 0);
  }
  50% {
    box-shadow: 0 0 0 8px #ff3b3b;
  }
  100% {
    box-shadow: 0 0 0 3px #ff3b3b;
  }
}
[data-is='ink-uploader'] .drop-valid {
  border: 2px solid #2ed0ac;
  background-color: #f1fffd;
  animation: uploaderPop 0.25s ease-in-out;
}
[data-is='ink-uploader'] .drop-invalid {
  animation: uploaderPopInvalid 0.25s ease-in-out;
  border: 2px solid #ff3b3b;
  background-color: #fdf6f5;
}
[data-is='ink-uploader'] file-drop p {
  margin: 0.25rem;
  padding: 0;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1;
  color: var(--rc-darker);
}
[data-is='ink-uploader'] .input {
  text-indent: 3rem;
}
[data-is='ink-uploader'] .header-row {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}
[data-is='ink-uploader'] .header-row p {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--medium);
  margin: 0;
  margin-top: 0.25rem;
}
@keyframes uploaderButtonPop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
[data-is='ink-uploader'] [data-is='ink-button'] {
  display: none;
}
[data-is='ink-uploader'] .uploading [data-is='ink-button'] {
  display: block;
  animation: uploaderButtonPop 0.25s ease-in-out;
}
