#ink-notes-document {
  background-color: #fff;
  max-width: 95vw;
  max-height: 100vh;
  min-width: 300px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.full #ink-notes-document {
  width: 100%;
  max-width: 100vw;
}
@keyframes containerPop {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
[aria-hidden='true'] #ink-notes-document {
  opacity: 0;
  transform: translateX(-100%);
}
#ink-notes-document.is-closing {
  animation: containerPop 0.25s ease-in-out;
}
#ink-notes-document.is-opening {
  animation: containerPop 0.25s ease-in-out reverse;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#ink-notes-document .content > * {
  margin: 0;
}

#ink-notes-document .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#ink-notes-document .text {
  margin: 2rem;
}
#ink-notes-document .list {
  list-style: none;
  padding: 0;
  margin: auto 0;
}
#ink-notes-document .list li {
  padding: 0;
  margin: 0;
}
#ink-notes-document .item {
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  text-decoration: none;
  line-height: 1;
  color: var(--medium);
}
@keyframes contentsModalPop {
  0% {
    box-shadow: 0 0 0 1px rgba(33, 33, 33, 0);
  }
  50% {
    box-shadow: 0 0 0 8px #f5ffff;
  }
  100% {
    box-shadow: 0 0 0 3px #f5ffff;
  }
}
