[data-is='reader-head'] {
  margin: 0;
  padding: 0.25rem;
  position: sticky;
  top: 0;
  max-height: 2rem;
  grid-column: 2 / 3;
  z-index: 2;
  display: flex;
  align-items: center;
}
[data-is='reader-head'] button {
  font-size: 1.25rem;
  line-height: 1rem;
  transform: translateY(-2px);
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: none;
  background-color: transparent;
  color: var(--rc-dark);

  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  border-radius: 9999px;
}
