readable-chapter {
  all: initial;
  position: relative;
  line-height: var(--reader-line-height);
  font-size: var(--reader-font-size);
  color: var(--reader-text-color);
  font-family: 'Source Serif Pro', serif;
  background-color: var(--reader-background-color);
  line-height: var(--reader-line-height);
  display: block;
  contain: content;
  padding: 0;
  display: grid;
  grid-template-columns:
    minmax(var(--reader-left-margin), 0.5fr) minmax(
      var(--reader-min-column-width),
      var(--reader-max-column-width)
    )
    minmax(var(--reader-left-margin), 0.5fr);
  grid-template-areas: 'leftmargin maintext rightmargin';
}
readable-chapter.is-loading {
  opacity: 0.5;
}
readable-chapter .Highlight {
  background-color: #ffff98;
}

readable-chapter .Highlight--selected {
  background-color: #ddddd0;
}

readable-chapter .chapter-body {
  grid-area: maintext;
  min-width: var(--reader-min-column-width);
  max-width: var(--reader-max-column-width);
  margin: 0;
}
readable-chapter [hidden],
readable-chapter template {
  display: none !important;
}
readable-chapter head {
  display: none;
}

readable-chapter blockquote {
  margin-left: 2.5em;
}

readable-chapter blockquote,
readable-chapter blockquote p {
  font-size: 0.75rem;
  font-size: calc(var(--reader-font-size) * 0.85);
  line-height: 1.2;
}

readable-chapter blockquote * + * {
  margin-top: calc(var(--reader-paragraph-spacing) * 0.85);
}
readable-chapter blockquote * {
  margin-bottom: 0;
}
readable-chapter blockquote :first-child {
  margin: 0;
}
readable-chapter h1 {
  font-size: 2em;
  font-size: calc(var(--reader-font-size) * 3);
  font-weight: 600;
  margin: 0;
}

readable-chapter h2 {
  font-weight: 600;
  font-size: calc(var(--reader-font-size) * 2);
  margin: 0;
}
readable-chapter h3 {
  font-weight: 400;
  font-style: italic;
  font-size: calc(var(--reader-font-size) * 1.5);
  margin: 0;
}
readable-chapter h4 {
  font-weight: normal;
  font-size: calc(var(--reader-font-size) * 1.25);
  margin: 0;
}
readable-chapter h5 {
  font-weight: normal;
  font-size: var(--reader-font-size);
  text-transform: uppercase;
  margin: 0;
}

readable-chapter h6 {
  font-weight: normal;
  font-size: var(--reader-font-size);
  margin: 0;
}

readable-chapter h1,
readable-chapter h2,
readable-chapter h3,
readable-chapter h4,
readable-chapter h5,
readable-chapter h6 {
  margin-bottom: var(--reader-paragraph-spacing);
}

readable-chapter p,
readable-chapter div,
readable-chapter td,
readable-chapter figure,
readable-chapter figcaption {
  line-height: var(--reader-line-height);
  font-size: 0.85rem;
  font-size: var(--reader-font-size, 0.85rem);
}

readable-chapter a[href] {
  transition: box-shadow 0.1s cubic-bezier(0.9, 0.03, 0.69, 0.22),
    transform 0.1s cubic-bezier(0.9, 0.03, 0.69, 0.22);
  text-decoration: underline;
}
readable-chapter :link {
  color: var(--link);
}
readable-chapter :visited {
  color: var(--visited);
}
readable-chapter a:link:hover {
  color: var(--hover);
}
readable-chapter a {
  border-radius: 2rem;
}
@keyframes readableChapterPop {
  0% {
    box-shadow: 0 0 0 1px rgb(228, 255, 254, 0.2);
    background-color: rgb(228, 255, 254, 0.2);
    transform: scale(0.5);
  }
  50% {
    box-shadow: 0 0 0 8px var(--rc-lighter);
    transform: scale(1.5);
  }
  100% {
    box-shadow: 0 0 0 3px var(--rc-lighter);
    background-color: var(--rc-lighter);
    transform: scale(1);
  }
}
readable-chapter a:focus {
  background-color: var(--rc-lighter);
  box-shadow: 0 0 0 5px var(--rc-lighter);
  outline: solid transparent;
  animation: readableChapterPop 0.25s ease-in-out;
}

readable-chapter a:link:active {
  color: var(--active);
}
readable-chapter b,
readable-chapter strong,
readable-chapter b > *,
readable-chapter strong > * {
  font-weight: 600;
}
readable-chapter svg,
readable-chapter img {
  max-height: 88vh;
  width: auto;
  height: auto;
  max-width: 100%;
}
readable-chapter .is-current {
  background-color: #f9f9f9;
  box-shadow: 0 0 0 0.25rem #f9f9f9;
}
/* .is-current:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -1rem;
  width: 0.15rem;
  height: 100%;
  display: block;
  background-color: var(--rc-medium);
  top: 0;
} */
